:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.radix-themes {
  --cursor-button: pointer;
  --cursor-checkbox: pointer;
  --cursor-disabled: default;
  --cursor-link: pointer;
  --cursor-menu-item: pointer;
  --cursor-radio: pointer;
  --cursor-slider-thumb: grab;
  --cursor-slider-thumb-active: grabbing;
  --cursor-switch: pointer;
}

.react-datepicker-wrapper,
.react-datepicker-wrapper input,
.react-datepicker__input-container {
  width: 100%;
  box-sizing: border-box;
  height: var(--space-6);
}

.react-datepicker-wrapper input,
.react-datepicker-wrapper input:focus-visible,
.react-datepicker__input-container,
.react-datepicker-wrapper {
  font-size: var(--font-size-3);
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.react-datepicker-wrapper {
  width: 100%;
  background-clip: content-box;
  background-color: var(--color-surface);
  box-shadow: inset 0 0 0 var(--text-field-border-width) var(--gray-a7);
  color: var(--gray-12);
}

.react-datepicker-wrapper input {
  border-width: 1px;
  padding: 0 10px;
  border: 1px solid var(--gray-8);
  border-radius: var(--radius-2);
}
.react-datepicker-wrapper input:focus-visible {
  border: 2px solid var(--focus-8) !important;
}

/* ex: styles/datepicker-custom.css */
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__day--range-start,
.react-datepicker__day--range-end {
  background-color: var(--accent-indicator) !important; /* verde (tailwind emerald-500) */
  color: #000 !important;
}

.react-datepicker__day--today {
  border-color: var(--accent-indicator) !important;
}
